
<h1 v-redirect url="/flex"> FLEX</h1>



<cells border-color="#ccc">
    <cell linked v-for="item in 10" border-color="#eee">
        <cell:head>head</cell:head>
        <cell:body>body{{$index}} </cell:body>
        <cell:foot>foot</cell:foot>
    </cell>
    <cell v-for="item in 5" border-color="rgba(200,200,200,0.5)">

        <cell:body>body{{$index}} </cell:body>
        <cell:foot>foot</cell:foot>
    </cell>
</cells>

<panel border-color="#ccc">
    <panel:head>
        <cell linked >
            <cell:body>阅读理解</cell:body>
        </cell>
    </panel:head>
    <panel:body>
        <h3>水调歌头</h3>
        <p>明月几时有？把酒问青天。不知天上宫阙、今夕是何年？我欲乘风归去，惟恐琼楼玉宇，高处不胜寒．起舞弄清影，何似在人间？  转朱阁，低绮户，照无眠。不应有恨、何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共蝉娟。</p>
    </panel:body>
    <panel:foot>
        <cell linked >
            <cell:body>查看原文</cell:body>
        </cell>
    </panel:foot>
</panel>

<flex direction="row" justify="center">
    <flex:item flex="0">1</flex:item>
    <flex:item flex="1">X</flex:item>
    <flex:item flex="0">1</flex:item>
</flex>

<!-- <flex direction="row|column|row-reverse|column-reverse" justify="start|center|end|between|around" align-items="start|center|end|between|around" align-content="start|center|end|between|around" wrap="wrap|nowrap|wrap-reverse" >
    <flex:item flex="0 0 12em" order="1"  justify="start|center|end|between|around" align-self="end|start|center" basis="100%" >XXXXXXXXXXXXXXXXXXXXXXXXXXXXX2</flex:item>
    <flex:item flex="1">X</flex:item>
    <flex:item flex="0 0 12em">X</flex:item>
</flex> -->

<!-- <webview>
    <webview:head>
        head
    </webview:head>
    <webview:body>
        body
    </webview:body>
    <webview:foot>
        <cell>
            <cell:head>wwww</cell:head>
            <cell:body>dawdaw</cell:body>
            <cell:foot>wdedewdw</cell:foot>
        </cell>
    </webview:foot>
</webview> -->


<btn block>xxxx</btn>

<middle align="center" height="300px">
    <h1>wdnawduawnu</h1>
    <div>wbawdabdubu</div>
</middle>


<h2>
     aspect可以用来 写一些比例块。他的高度跟宽度保持一定比例，在宽度不指定时，宽度默认为100%；
</h2>

<aspect ratio="150%" width="80%">
    <middle align="center" height="100%">
        adawwa
    </middle>
</aspect>
<br>
<aspect ratio="100%" width="200">
    <middle align="center" height="100%">
        wwww
    </middle>
</aspect>

<br>
<aspect ratio="80%" width="200">
    <middle align="center" height="100%">
        wwww
    </middle>
</aspect>

<br>

<aspect ratio="80%">
    <middle align="center" height="100%" style="font-size:0;">
        <aspect ratio="100%" width="50%" style="background-color:red">
            <middle align="center" height="100%">
                wwww
            </middle>
        </aspect>
        <aspect ratio="100%" width="50%" style="background-color:blue">
            <middle align="center" height="100%">
                wwww
            </middle>
        </aspect>
    </middle>
</aspect>


<container border border-color="#ff0000">container</container>
<middle height="300" align="center">adfadsf</middle>
