<h1 class="ddd" v-redirect url="/a/b/c">b redirect</h1>
<h1 class="ddd" v-forward url="/a/b/c">b forward</h1>

<h1 class="ddd" @click="b">b redirect</h1>
<h1 class="ddd" @click="a">b forward</h1>



<cells border-color="#ccc">
    <cell linked v-for="item in 10" border-color="#eee">
        <cell:head>head</cell:head>
        <cell:body>body{{$index}} </cell:body>
        <cell:foot>foot</cell:foot>
    </cell>
    <cell v-for="item in 5" border-color="rgba(200,200,200,0.5)">

        <cell:body>body{{$index}} </cell:body>
        <cell:foot>foot</cell:foot>
    </cell>
</cells>

<panel border-color="#ccc">
    <panel:head>
        阅读理解
    </panel:head>
    <panel:body>
        <h3>水调歌头</h3>
        <p>明月几时有？把酒问青天。不知天上宫阙、今夕是何年？我欲乘风归去，惟恐琼楼玉宇，高处不胜寒．起舞弄清影，何似在人间？  转朱阁，低绮户，照无眠。不应有恨、何事长向别时圆？人有悲欢离合，月有阴晴圆缺，此事古难全。但愿人长久，千里共蝉娟。</p>
    </panel:body>
    <panel:foot>
        <cell linked >
            <cell:body>查看原文</cell:body>
        </cell>

        <cell linked >
            <cell:body>查看原文</cell:body>
        </cell>
    </panel:foot>
</panel>

<flex>
    <flex:item :grow="1">XXXXXXXXXXXXXXXXXXXXXXXXXXXXX2</flex:item>
    <flex:item :grow="2">X</flex:item>
    <flex:item :grow="3">X</flex:item>
    <flex:item :grow="4">X</flex:item>
</flex>


<btn block>xxxx</btn>

<middle align="center" height="300px">
    <h1>wdnawduawnu</h1>
    <div>wbawdabdubu</div>
</middle>

<ratio value="150%" width="200px">
    <middle align="center" height="100%">
        adawwa
    </middle>
</ratio>
dawdawdaw
<br>
<ratio value="100%" width="200px">
    <middle align="center" height="100%">
        wwww
    </middle>
</ratio>

adadawdawdaw
<br>
<ratio value="80%" width="200px">
    <middle align="center" height="100%">
        wwww
    </middle>
</ratio>

adadawdaw
<br>

<ratio value="80%">
    <middle align="center" height="100%" style="font-size:0;">
        <ratio value="100%" width="50%" style="background-color:red">
            <middle align="center" height="100%">
                wwww
            </middle>
        </ratio>
        <ratio value="100%" width="50%" style="background-color:blue">
            <middle align="center" height="100%">
                wwww
            </middle>
        </ratio>
    </middle>
</ratio>


<container border border-color="#ff0000">container</container>
<middle height="300" align="center">adfadsf</middle>
