
html {
    font-size  : $font-size-base;
    line-height: $font-lineHeight-base;
    font-family: $font-family-base;
    color: $font-color-base;
}
a{
    color:$link-color;
    cursor: $link-cursor;
    text-decoration: none;
}
