&button{
    &{
        margin: .5em 0;
        padding: 1em 2em;
        display: inline-block;
        text-align: center;
        position: relative;
        overflow: hidden
    }

    &[type=primary]{
        color: #fff;
        background-color: $component-color;

        &:active{
            background-color: darken($component-color,5%)
        }
    }
    &[type=default]{
        @include mx-1px($border-color-base);
        background-color: #f7f7f7;
        color: $font-color-base;

        transition: background-color 200ms ease;

        &:active{
            @include mx-1px($component-color);
            background-color: lighten(#f7f7f7,5%);
            color: $component-color;
            transition: all 200ms ease;
        }
    }
    &-blocked{
        display: block;
    }
    &-rounded{
        border-radius: 9999px;
    }
    &-radius{
        border-radius: 10px;
    }
    &-wave{
        position: absolute;
        background-color: $component-color;
        height: 100%;
        width: 0;
        top: 0;
        left: 0;
        margin-left: -100%;
        border-radius: 999px;
        opacity: 0.2;
        z-index: 0;
        transform-origin: center center;
    }
    &-waving{
        animation: ButtonWave 300ms ease-in;
    }
    @keyframes ButtonWave{
        0%{
            width: 200%;
            transform: scaleX(0) ;
        }
        100%{
            width: 200%;
            transform: scaleX(1) ;
            border-radius: 0;
        }
    }
}
