&checkbox {
    &-input {
        appearance: none;
        display   : none;
    }
    &[type=switch] {
        &{
        }
        .mx-checkbox-vision {
            display         : inline-block;
            width           : 2.5em;
            height          : 1em;
            margin          : 0 0.6em;
            background-color: rgba(29,29,38,0.15);
            border-radius   : 300px;
            position        : relative;
            &::before {
                content         : '';
                display         : block;
                width           : 1.4em;
                height          : 1.4em;
                position        : absolute;
                top             : -0.2em;
                left            : -20%;
                background-color: #BEBEC1;
                border-radius   : 50%;
                transition      : transform 100ms ease-in-out,background-color 100ms ease;
            }
        }
        input[type=checkbox]:checked+.mx-checkbox-vision {
            background-color: rgba($component-color,0.5);
            &::before {
                transform       : translate3d(140%,0,0);
                background-color: $component-color;
            }
        }

    }

    &[type=default] {
        .mx-checkbox-vision {
            display         : inline-block;
            width           : 1.5em;
            height          : 1.5em;
            background-color: rgba(29,29,38,0.15);
            border-radius   : 5px;
            position        : relative;
            &::before{
                content: "";
                width: .8em;
                height: .4em;
                position: absolute;
                transform: rotate(-45deg) translate3d(-50%,0,0);
                transform-origin: left bottom;
                transition: transform 100ms cubic-bezier(.17,.67,.83,.67),opacity 100ms ease-in-out;
                opacity: 0;
                left: .55em;
                top: 0.6em;
                display: block;
                border-left: .2em solid #fff;
                border-bottom: .2em solid #fff;
            }

        }
        input[type=checkbox]:checked+.mx-checkbox-vision {
            background-color: rgba($component-color,0.5);
            &::before{
                transform: rotate(-45deg)  translate3d(0%,0,0);
                opacity: 1;
            }
        }
    }
}
