
// style for test

.mx-sidebar{
    .avatar{
        margin: 30px auto;
        text-align: center;
        position: relative;
        img{
            width: 150px;
            height: 150px;
            object-fit: cover;
            object-position: center center;
            border-radius: 50%;
        }
        .upload{
            position: absolute;
            left: 50%;
            margin-left: 55px;
            top: 0%;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #009ee7;
        }
    }
}

.test{
    &-dice{
        padding: 20px;
        width: 150px;
        height: 150px;
        margin: 10px auto;
        border-radius: 10px;
        border: 1px solid #ccc;
        box-shadow: 0 8px lighten(#eee,10%) inset,0 -8px darken(#eee,15%) inset,8px 0 darken(#eee,10%) inset,-8px 0 darken(#eee,10%) inset;
        background-color: #eee;
        &-pot{
            width: 30px;
            height: 30px;
            background-color: #555;
            border-radius: 50%;
            box-shadow: 0 -4px 0 rgba(255,255,255,0.2) inset , 0 4px 0 rgba(0,0,0,0.1) inset;
            &.red{
                background-color: red;
            }
        }
    }
}
