//
$namespace:"mx-"; //命名空间

// font
$font-family-base:"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
$font-size-base:14px;
$font-lineHeight-base:1.6;
$font-color-base:#666;
$font-color-help:#999;
$font-color-disable:#ccc;


//link
$link-color:#2db7f5;
$link-cursor:pointer;
$link-text-decoration:none;

//webview
$webview-animate-duration:350ms;
$webview-animate-in-timing-function:ease-out;
$webview-animate-out-timing-function:ease-in;
